@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;700&display=swap");
.header-container {
  // background-color: $bg-black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  .header-logo {
    background-image: url("../img/Star-Wars-Logo-Transparent-Background.png");
    width: 150px;
    height: 50px;
    background-size: 100% 100%;
    align-self: center;
  }
}
.header-registration {
  text-transform: uppercase;
  color: $dark-grey;
  span {
    cursor: pointer;
    color: $light-grey;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Koulen", cursive;
    transition: color 0.2s;
  }
  span:hover {
    color: white;
  }
}
